/* Fonts
------------------------------------------------------------------------------*/

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-regular.hxd');
	src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/proximanova-regular-1.hxd') format('woff'),
	     url('../fonts/proximanova-regular-2.hxd') format('truetype'),
	     url('../fonts/proximanova-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.main-content {
	padding-right: 20px;
}

body {
	font: 18px/28px "brandon-grotesque", sans-serif;
	color: #333;
	background: #fff;
	-webkit-text-size-adjust: none;
}

input, textarea, select, button {
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #f36e5b;
}

a:hover {
	text-decoration: underline;
}

a.button-default {
	width: 272px;
	height: 59px;
	border: 2px solid #FFF;
	color: #FFF;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	line-height: 59px;
	letter-spacing: 3px;
}

a.button-default.red {
	border: 3px solid #dc5757;
	color: #dc5757;
}

a.button-default.black {
	border: 3px solid #000000;
	color: #000000;
}

a.button-default.red:hover {
	background: #f7dcdc;
	background:rgba(220, 87, 87, 0.2);
}

a.button-default.sm {
	width: 204px;
	height: 44px;
	line-height: 38px;
	font-size: 12px;
}

a.button-default:hover {
	text-decoration: none;
	background: rgba(255, 255, 255, 0.25);
}

a.button {
	width: 271px;
	height: 59px;
	background-color: #DC5757 !important;
	color: #FFF;
	font-family: "brandon-grotesque", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 59px;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	max-width: 100%;
}

a.button:hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
	text-decoration: none;
}

a.button.green {
	background-color: #2a5463 !important;
}

a.button.green-light {
	background-color: #4996b0 !important;
}




/* Container
------------------------------------------------------------------------------*/

.container {
	position: relative;
	max-width: 1400px;
	padding: 0 30px;
	width: 100%;
margin-top: 10px;
margin-bottom: 10px;
border: 3px red;
}


/* Header
------------------------------------------------------------------------------*/

#header {
	height: 119px;
	padding: 40px 0 0 0;
	position: relative;
	z-index: 99;
}

#logo {
	width: 185px;
	height: 18px;
	display: block;
	cursor: pointer;
	background: url(../img/logo.png) no-repeat;
	float: left;
	margin-left: 2px;
}

/* Navigation
------------------------------------------------------------------------------*/

#nav_1862808 {
	padding: 0;
	margin: -10px -17px 0 0;
	float: right;
}

#nav_1862808>li {
	float: left;
	padding: 0 0 24px 0;
	margin: 0;
	list-style: none;
	position: relative;
}

#nav_1862808 a {
	color: #9d9d9d;
	letter-spacing: 1.5px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	display: block;
	line-height: 39px;
	padding: 0 17px
}




/* баннер------------------------------------------------------------------------------*/

.features {
	background: url(../img/bg_features.jpg) no-repeat 50% 50%;
	height: 600px;
	background-size: cover;

	overflow: hidden;
	position: relative;
	z-index: 5;
}

.features .fadeoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.3);
    z-index: 400;

}

.features .container {
    z-index: 500;
}

.features .banner {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-size: cover;
}

.features.type-2 {
	height: 755px;
	padding: 0;
}

.features.type-2 .container {
	height: 100%;
/*    margin: 0 35px;*/
}

.features.type-2 .features-inner {
	display: table;
	height: 100%;
	width: 100%;
	max-width: 680px;
	padding-bottom: 10px;
}

.features.type-2 .features-inner .info {
	display: table-cell;
	vertical-align: middle;
}

.features h1 {
	font-family: "brandon-grotesque", sans-serif;
	margin: 0;
	color: #FFF;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 60px;
/*	padding-left: 8px;*/
	letter-spacing: 3px;
	padding-bottom: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.features.type-2 h1 {
	color: #FFF;
	font-family: "brandon-grotesque", sans-serif;
	font-size: 42px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0 0 35px 0;
	line-height: 44px;
	letter-spacing: 5px;
	position: relative;
	margin-bottom: 40px;
	margin-right: -20px;
}

.features h1.width {
	margin-right: -100px;
	margin-top: 18px;
}

.features.type-2.sized h1 {
	line-height: 60px;
	padding: 0 0 27px 0;
	margin-bottom: 40px;
	margin-right: -20px;
}

.features.type-2 h1:after {
	height: 4px;
	width: 118px;
	position: absolute;
	content: "";
	left: 2px;
	top: 100%;
	background: rgba(255, 255, 255, 0.50);
}

.features.type-2 h4 {
	color: #FFF;
	font-family: 'Archer SSm A', 'Archer SSm B';
	font-weight: 500;
	font-size: 32px;
	font-weight: 300;
	line-height: 44px;
	padding-bottom: 14px;
}

.features.type-2.sized h4 {
	font-size: 28px;
	line-height: 44px;
}

.features.type-2 p {
	color: #FFF;
	font-family: "brandon-grotesque", sans-serif;
	font-size: 22px;
	line-height: 33px;
	font-weight: 300;
	padding: 0;
}

.features h1 strong {
	font-weight: 500;
}

.features p {
	color: #FFF;
	font-family: 'Archer SSm A', 'Archer SSm B';
	font-weight: 500;
	font-size: 30px;
	font-weight: 300;
	max-width: 650px;
/*	padding-left: 8px;*/
	line-height: 46px;
	padding-bottom: 23px;
}

.features .button-default {
/*	margin-left: 8px;*/
}



/*особенности */
.box {
  padding: 120px 0;
}


#services {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#services.box {
	padding-top: 10px;
	padding-bottom: 0px;
}


h2.title {
  margin-bottom: 15px;
	margin-top: 30px;
	padding-top: 50px;

  text-transform: uppercase;
  font:bold 30px/30px Arial, sans-serif;
  color: #222;
}


h5.title {
  margin-bottom: 10px;
    font:bold 18px/18px Arial, sans-serif;
    color:#222;
}



.descr {
  margin-bottom: 10px;
  font-size: 16px;
  color:#777;
}


.about-wrap,
.services-wrap {
  padding-top: 70px;
}

.services-item {
  float: left;
  width: 25%;
  padding: 90px 0 10px;
  }

.services-item p {
  font-size: 18px;
  color: #777;
  line-height: 24px;
}

.original {
  background: url('../img/100.png') no-repeat center top;
}

.deliver {
  background: url('../img/deliver.jpg') no-repeat center top;
}

.three {
  background: url('../img/three.jpg') no-repeat center top;
}

.percent {
  background: url('../img/percent.jpg') no-repeat center top;
}

/* товары
------------------------------------------------------------------------------*/
#portfolio {
  text-align: center;
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.box.container {
padding-left: 10px;
padding-right: 10px;
}

.portfolio-item {
  float: left;
  margin-right: 3.5%;
  width: 31%;
  margin-bottom: 10px;
  background: white;
}

.services-wrap,
.portfolio-wrap,
.about-wrap,
#message {
  padding-top: 35px;
}

.services-wrap {
height: 300px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-shild(1),
.portfolio-item:nth-last-shild(2),
.portfolio-item:nth-last-shild(3) {
  margin-bottom: 0;
}


.p-item-footer {
  padding: 5px 20px;
}


.p-item-footer h5 .title {
  margin-bottom: 4px;
}


/* спецификация особенностей
------------------------------------------------------------------------------*/
.col-6 {
width:49%;
height: 250px;
display:inline-block;
padding: 5px;
text-align: center;
margin-bottom: 20px;
}

.item {
margin-top: 20px;
}





#about {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-item .clearfix {
width:30%;
}


.about-text {
  width: 30%;
}

.about-img {
  width: 30%;
  }


.about-img:after {
  content:'';
  display: block;
  height:34px;
  width: 3px;
  margin: 0 auto;
}

.about-img img, .about-link{
  width: 177px;
  height: 177px;
  border-radius: 50%;
  display: inline-block;
  border: 7px solid #f1f1f1;
}


.about-text h5 span {
  text-transform: uppercase;
}


.about-text h5 {
  line-height: 24px;
}

.about-text p {
  color: #777;
  font-size: 16px;
    line-height: 24px;
}


.about-link  {
    color: #fff;
  text-transform: uppercase;
  font: bold 18px/30px Arial, sans-serif;
background: #fed136;
text-shadow: 0 1px rgba(0,0,0 .3);
}

#item {
  text-align: center;
  padding-top: 20px;
  height:550px;
  background-color: grey;
}



/* Стили формы */
.container .contact_form {
background-color: #bbb;
}

.contact_form {
text-align: center;
width: 100%;
}

.title {
padding-top: 10px;
}

#application {
    width: 40%;
    margin: 0 auto;

}

/*Стили полей для ввода*/
#applicationName, #applicationEmail, #applicationTelephone {
    width: 100%;
    height: 73px;
    background: none;
    margin-top: 25px;
    border: 1px solid #fff;
    border-radius: 40px;
    text-align: center;
    color: black;
    font-size: 24px;
}

/*Стили для кнопки*/
.applicationButton {
    margin-top: 25px;
    background: #30ad64;
    border: none;
    width: 100%;
    height: 73px;
    border-radius: 40px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}
    .applicationButton:hover {
        background: red;
    }

		/*Стили полей при клике по ним*/
		#applicationName:focus, #applicationEmail:focus, #applicationTelephone:focus {
		    border: 1px solid red;
		}

		/*Стили текста, выводящегося в placeholder*/
		::-webkit-input-placeholder {
		    color: #efefef;
		    font-family: 'PT Sans', sans-serif;
		    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
		}

		::-moz-placeholder  {
		    color: #fff;
		    font-family: 'PT Sans', sans-serif;
		    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
		}  /* Firefox 19+ */

		:-moz-placeholder {
		    color: #fff;
		    font-family: 'PT Sans', sans-serif;
		    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
		}  /* Firefox 18- */

		:-ms-input-placeholder {
		    color: #fff;
		    font-family: 'PT Sans', sans-serif;
		    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
		}

		::placeholder {
		    color: #fff;
		    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
		}



    /*Стили для кнопки*/
.applicationButton {
    margin-top: 25px;
    background: red;
    border: none;
    width: 100%;
    height: 73px;
    border-radius: 40px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}
    .applicationButton:hover {
        background: #d68c18;
    }



		.order {
		  background: url('../img/order.jpg') no-repeat center top;
		}

		.call {
		  background: url('../img/call.jpg') no-repeat center top;
		}

		.time {
		  background: url('../img/time.jpg') no-repeat center top;
		}

		.carrier {
		  background: url('../img/carrier.jpg') no-repeat center top;
		}





/* Footer
------------------------------------------------------------------------------*/

#footer {
	clear: both;
	background: #000;
	overflow: hidden;
	padding: 50px 0 34px;
}

#footer .logo {
	float: left;
	/*margin: 5px 100px 0 0;*/
	margin-right: 8%;
}

#footer p {
	float: left;
	color: #C4BEB9;
	font-family: "brandon-grotesque";
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	width: 200px;
	margin-right: 8%;
}

#footer p a {
	color: #C4BEB9;
}

#footer .social {
	float: right;
	padding: 0 4px 0 0;
	margin: 0;
}

#footer .social li {
	padding: 0 0 0 13px;
	margin: 0;
	list-style: none;
	float: left;
}

#footer .social li a {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	height: 41px;
	width: 41px;
	border: 2px solid #C4BEB9;
	border-radius: 50px;
	background: url(../img/vk.png) no-repeat center;
}



/* Media
------------------------------------------------------------------------------*/

@media screen and (max-width: 1430px) {

.container {
padding: 0 30px;
	}

	.main-content {
		padding-right: 0;
	}

	#nav_1862808 {
		padding: 0;
		margin: -10px -10px 0 0;
	}

	#nav_1862808 a {
		color: #666;
		letter-spacing: 1.5px;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		padding: 0 10px
	}

	.features {
		height: 600px;
		padding: 100px 0 0 0;
	}

	.features h1 {
		font-size: 50px;
		line-height: 60px;
	}

	.features p {
		font-size: 26px;
		line-height: 36px;
	}

	.features .button-default {
		margin-left: 8px;
	}


	.main-features .container {
		padding: 77px 30px 55px 48px;
	}

	.wrapper .container {
		padding-left: 20px;
	}

    .wrapper .container.blog {
        padding-left: 31px;
    }
	.sidebar {
/*		padding-left: 0;*/
	}

}


@media screen and (max-width: 950px) {



	#footer .logo {
		margin: 5px 67px 15px 0;
	}

	#footer p {
		width: 100%;
		text-align: center;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 766px) {

	a.button-default {
		width: 268px;
		height: 45px;
		border: 1px solid #FFF;
		font-size: 15px;
		line-height: 43px;
		letter-spacing: 3px;
	}


	a.button {
		width: 268px;
		height: 46px;
		font-size: 14px;
		line-height: 46px;
		letter-spacing: 3.5px;
	}

	#header {
		height: auto;
		overflow: hidden;
		padding: 0;
	}

	#logo {
		width: 147px;
		height: 14px;
		margin: 22px 0 21px 8px;
		background-size: 100% 100%;
	}

li.hassub {

	padding-top: 10px;
}

	#nav_1862808 {
		padding: 0;
		margin: -10px -10px -10px; 0;
	}

	#nav_1862808 a {
		color: #666;
		letter-spacing: 1.5px;
		font-size: 10px;
		font-weight: 500;
		text-transform: uppercase;
		padding: 0 10px;
		margin-top: 9%;
	}


	.features {
		height: auto;
		padding: 50px 0 47px 0;
		text-align: center;
	}

	.features h1 {
		font-size: 25px;
		line-height: 30px;
		padding-left: 0;
		letter-spacing: 1.5px;
		padding-bottom: 9px;
		text-align: center;
	}

    .features-contact .headercontainer h1 {
        font-size: 25px !important;
        line-height: 30px !important;
        padding-bottom: 10px !important;
    }


	.features p {
		font-size: 18px;
		padding-left: 0;
		line-height: 25px;
		text-align: center;
		padding-bottom: 1px;
	}

	.features .button-default {
		margin-left: 0;
	}

	.features.type-2 {
		height: auto;
		text-align: left;
	}

	.features.type-2 .features-inner {
		display: block;
		padding: 30px 0 19px 7px;
	}

	.features.type-2.sized h1,
	.features.type-2 h1 {
		font-size: 25px;
		line-height: 30px;
		padding: 0 0 15px 0;
		text-align: left;
		letter-spacing: 1px;
		margin-bottom: 19px;
		margin-right: 0;
	}

	.features.type-2 h1:after {
		height: 2px;
		width: 59px;
		left: 2px;
	}

	.features.type-2.sized h4,
	.features.type-2 h4 {
		font-size: 18px;
		line-height: 25px;
		padding-bottom: 0;
		margin-bottom: 7px;
	}

	.features.type-2 p {
		text-align: left;
		font-size: 18px;
		line-height: 25px;
	}

	.home-cols {
		padding: 27px 0 5px 0;
	}

    .home-cols img {
        max-height: 180px;
    }

    .home-cols p.shortp {
        min-height: 0;
    }
	.home-cols .row>div {
		padding: 0 0 24px;
	}

	.home-cols h2 {
		font-size: 27px;
		line-height: 29px;
		letter-spacing: 0.5px;
		margin-bottom: 28px;
		padding-bottom: 10px;
	}

	.home-cols h2:after {
		height: 2px;
		width: 39px;
		margin-left: -20px;
	}

	.home-cols img {
		max-width: 83.5%;
		margin-bottom: 19px;
	}

	.home-cols p {
		font-size: 15px;
		line-height: 25px;
		letter-spacing: 0.5px;
		margin-bottom: 19px;
	}

	#footer {
		padding: 37px 0 31px;
	}

	#footer .logo {
		float: none;
		width: 134px;
		display: block;
		margin: 0 auto 36px;
	}

	#footer p {
		font-size: 11px;
		line-height: 11px;
		width: 50%;
		margin-right: 0;
		padding: 0 5px;
		display: block;
	}

	#footer p.copy {
		text-align: left;
		float: left;
	}

	#footer p.contacts {
		text-align: right;
		float: right;

	}

	#footer p a {
		color: #C4BEB9;
	}

	#footer .social {
		float: none;
		padding: 0 0 2px 0;
		text-align: center;
		display: block;
	}

	#footer .social li {
		padding: 0 3px 0 4px;
		float: none;
		display: inline-block;
	}

	#footer .social li a {
		height: 30px;
		width: 30px;
		border: 1px solid #C4BEB9;
		background-position: 7px 7px;
		background-size: 71px 39px;
	}

	#footer .social .facebook a {
		background-position: -22px 7px;
	}

	#footer .social .linked-in a {
		background-position: -51px 7px;
	}

	#footer .social li a:hover {
		background-position: 7px -18px;
	}

	#footer .social .facebook a:hover {
		background-position: -22px -18px;
	}

	#footer .social .linked-in a:hover {
		background-position: -51px -18px;
	}




	.features-approach {
		min-height: 0;
		padding: 50px 0 50px 0;
	}

	.features-approach h1 {
		font-size: 25px;
		letter-spacing: 1px;
		line-height: 30px;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}

	.features-approach h1:after {
		height: 2px;
		width: 49px;
		margin-left: -25px;
	}

	.features-approach p {
		font-size: 18px;
		line-height: 25px;
	}


	.features-about {
		min-height: 0;
		padding: 50px 0 50px 0;
	}

	.features-about h1 {
		font-size: 28px;
		letter-spacing: 1px;
		line-height: 34px;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}

	.features-about h1:after {
		height: 2px;
		width: 49px;
		margin-left: -25px;
	}

	.features-about p {
		font-size: 18px;
		line-height: 25px;
	}





@media screen and (max-width: 470px) {
}
