
/*  Fonts  */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}


html {height: 100%;}
body {
height: 100%;
font: 14px/18px; 'Times New Roman', Times, sans-serif;
background-color: #fff;
}

ol, ul {list-style: none;}



a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {clear: both;}

.left {float: left;}
.right {float: right;}


#header {
  position: absolute;
  top: 25px;
  left: 0;
  right:0;
  width: 100%;
  padding: 20px 0;
}


.logo {
  float: left;
  margin-left: 50px;
}


.nav {
  float: right;
  padding-top: 10px;
  margin-right: 40px;
}



.nav li:last-child {margin-right: 0;}
.nav a {
  text-transform: uppercase;
  font: 14px Arial, sans-serif;
  color: #bbb;
}




#home {
  height: 400px;
  padding-top: 160px;
  text-align: center;
  background:  #fff url(img/home-bg.jpg) no-repeat center bottom;

}

#home h1  {
font: 55px/55px Arial, sans-serif;
text-transform:uppercase;
color:black;
  margin-bottom: 40px

}

#home h3 {
  font: 30px/30px Arial, sans-serif;
  margin-bottom: 40px;
  color: black;
}


.btn {
  display: inline-block;
  padding: 20px 30px;
  text-transform: uppercase;
  font:bold 24px/24px Arial, sans-serif;
  background: red;
  cursor: pointer;

   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
        -o-border-radius: 4px;
           border-radius: 4px;
}

.btn:hover {
  background: darkred;
  color:#fff;
}


.box {
  padding: 120px 0;
}


#services {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}


h2.title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font:bold 40px/40px Arial, sans-serif;
  color: #222;
}


h5.title {
  margin-bottom: 10px;
    font:bold 18px/18px Arial, sans-serif;
    color:#222;
}

.descr {
  margin-bottom: 10px;
  font-size: 16px;
  color:#777;
}

.portfolio-wrap,
.about-wrap,
.services-wrap {
  padding-top: 70px;
}



.services-item {
  float: left;
  width: 25%;
  padding: 90px 0 10px;
  }


.services-item p {
  font-size: 18px;
  color: #777;
  line-height: 24px;
}

.commerce {
  background: url('img/commerce.png') no-repeat center top;
}


.responsive {
  background: url('img/responsive.png') no-repeat center top;
}

.security {
  background: url('img/security.png') no-repeat center top;
}


#portfolio {
  text-align: center;
  background: grey;
  padding-top: 30px;
  padding-bottom: 30px;
}


.portfolio-item {
  float: left;
  margin-right: 3.5%;
  width: 31%;
  margin-bottom: 50px;
  background: white;
}

.services-wrap,
.portfolio-wrap,
.about-wrap,
.team-wrap,
#message {
  padding-top: 70px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-shild(1),
.portfolio-item:nth-last-shild(2),
.portfolio-item:nth-last-shild(3) {
  margin-bottom: 0;
}


.p-item-footer {
  padding: 25px 20px;
}


.p-item-footer h5 .title {
  margin-bottom: 4px;
}


#about {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}



.about-text {
  width: 35%;
}

.about-img {
  width: 30%;
  }


.about-img:after {
  content:'';
  display: block;
  height:34px;
  width: 3px;
  margin: 0 auto;
}

.about-img img, .about-link{
  width: 177px;
  height: 177px;
  border-radius: 50%;
  display: inline-block;
  border: 7px solid #f1f1f1;
}


.about-text h5 span {
  text-transform: uppercase;
}


.about-text h5 {
  line-height: 24px;
}

.about-text p {
  color: #777;
  font-size: 16px;
    line-height: 24px;
}


.about-link  {
    color: #fff;
  text-transform: uppercase;
  font: bold 18px/30px Arial, sans-serif;
background: #fed136;
text-shadow: 0 1px rgba(0,0,0 .3);
}

#item {
  text-align: center;
  padding-top: 20px;
  height:550px;
  background-color: grey;
}







/* Стили формы */
#application {
    width: 475px;
    margin: 0 auto;
}

/*Стили полей для ввода*/
#applicationName, #applicationEmail, #applicationTelephone {
    width: 100%;
    height: 73px;
    background: none;
    margin-top: 25px;
    border: 1px solid #fff;
    border-radius: 40px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

/*Стили полей при клике по ним*/
#applicationName:focus, #applicationEmail:focus, #applicationTelephone:focus {
    border: 1px solid #30ad64;
}

/*Стили текста, выводящегося в placeholder*/
::-webkit-input-placeholder {
    color: #efefef;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::-moz-placeholder  {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  /* Firefox 19+ */

:-moz-placeholder {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  /* Firefox 18- */

:-ms-input-placeholder {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::placeholder {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

/*Стили для кнопки*/
.applicationButton {
    margin-top: 25px;
    background: #30ad64;
    border: none;
    width: 100%;
    height: 73px;
    border-radius: 40px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}
    .applicationButton:hover {
        background: #d68c18;
    }

    /*Стили для кнопки*/
.applicationButton {
    margin-top: 25px;
    background: #30ad64;
    border: none;
    width: 100%;
    height: 73px;
    border-radius: 40px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}
    .applicationButton:hover {
        background: #d68c18;
    }









.social {margin-top: 10px;}

.social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 3px solid #222;
  border-radius: 50%;
  margin-right: 0 3px;

}

.social a.black {background: url(img/vk.png)no repeat}

.social a .ic-tw {
background-position:0 0;}
.social a .ic-tw:hover {
border: #00aced;
background:url(img/vk.png) no-repeat white;

}
.social a..ic-tw .black {
    background-position:0 -40px;
}



/*  footer  */
#footer {
	clear: both;
	background: #000;
	overflow: hidden;
	padding: 50px 0 34px;
}

#footer .logo {
	float: left;
	margin: 5px 57px 0 0;
  
}

#footer p {
	float: left;
	color: #C4BEB9;
	font-family: "brandon-grotesque";
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	width: 200px;
	margin-right: 40px;
}

#footer p a {
	color: #C4BEB9;
}

#footer .social {
	float: right;
	padding: 0 4px 0 0;
	margin: 0;
}

#footer .social li {
	padding: 0 0 0 13px;
	margin: 0;
	list-style: none;
	float: left;
}

#footer .social li a {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	height: 41px;
	width: 41px;
	border: 2px solid #C4BEB9;
	border-radius: 50px;
	background: url(img/vk icon.png) no-repeat;
}










/*Кнопка обратного звонка */
#popup__toggle{bottom:25px;right:10px;position:fixed;z-index:999;}
.img-circle{background-color:#29AEE3;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #29AEE3;width:150px;height:150px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#29AEE3;width:100px;height:100px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;background-image:url(img/mini.png);background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }
  100% {transform: scale(0.9);opacity: 1;}}
 @-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
