html {height: 100%;}
body {
height: 100%;
font: 14px/18px; 'Times New Roman', Times, sans-serif;
background-color: #fff;
}

ol, ul {list-style: none;}



a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {clear: both;}

.left {float: left;}
.right {float: right;}


#header {
  position: absolute;
  top: 20px;
  left: 0;
  right:0;
  width: 100%;
  padding: 20px 0;
}


.logo {
  float: left;
  margin-left: 50px;
}


.nav {
  float: right;
  padding-top: 5px;
}

.nav li {
  float: left;
  margin-right: 40px;
}

.nav li:last-child {margin-right: 0;}
.nav a {
  text-transform: uppercase;
  font: 14px Arial, sans-serif;
  color: #fff;
}



#home {
  height: 700px;
  padding-top: 270px;
  text-align: center;
  background:  #777 url(img/home-bg.jpg) no-repeat center bottom;

}

#home h1  {
font: 75px/75px Arial, sans-serif;
text-transform:uppercase;
color: #fff;
  margin-bottom: 40px

}

#home h3 {
  font: 40px/40px Arial, sans-serif;
  margin-bottom: 40px;
  color: #fff;
}


.btn {
  display: inline-block;
  padding: 20px 30px;
  text-transform: uppercase;
  font:bold 24px/24px Arial, sans-serif;
  background: #fed136;
  cursor: pointer;

   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
        -o-border-radius: 4px;
           border-radius: 4px;
}

.btn:hover {
  background: #daae17;
  color:#fff;
}


.box {
  padding: 120px 0;
}


#services {
  text-align: center;
}


h2.title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font:bold 40px/40px Arial, sans-serif;
  color: #222;
}


h5.title {
  margin-bottom: 10px;
    font:bold 18px/18px Arial, sans-serif;
    color:#222;
}

.descr {
  margin-bottom: 10px;
  font-size: 16px;
  color:#777;
}

.portfolio-wrap,
.about-wrap,
.services-wrap {
  padding-top: 70px;
}



.services-item {
  float: left;
  width: 33.33%;
  padding: 90px 0 10px;
  }


.services-item p {
  font-size: 18px;
  color: #777;
  line-height: 24px;
}

.commerce {
  background: url('img/commerce.png') no-repeat center top;
}


.responsive {
  background: url('img/responsive.png') no-repeat center top;
}

.security {
  background: url('img/security.png') no-repeat center top;
}


#portfolio {
  text-align: center;
  background: #f7f7f7;
}


.portfolio-item {
  float: left;
  margin-right: 3.5%;
  width: 31%;
  margin-bottom: 50px;
  background: white;
}

.services-wrap,
.portfolio-wrap,
.about-wrap,
.team-wrap,
#message {
  padding-top: 70px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-shild(1),
.portfolio-item:nth-last-shild(2),
.portfolio-item:nth-last-shild(3) {
  margin-bottom: 0;
}


.p-item-footer {
  padding: 25px 20px;
}


.p-item-footer h5 .title {
  margin-bottom: 4px;
}


#about {
  text-align: center;
}

.about-text {
  width: 35%;
}

.about-img {
  width: 30%;
  }


.about-img:after {
  content:'';
  display: block;
  height: 94px;
  width: 3px;
  margin: 0 auto;
background: #f1f1f1;
}

.about-img img, .about-link{
  width: 177px;
  height: 177px;
  border-radius: 50%;
  display: inline-block;
  border: 7px solid #f1f1f1;
}


.about-text h5 span {
  text-transform: uppercase;
}


.about-text h5 {
  line-height: 24px;
}

.about-text p {
  color: #777;
  font-size: 16px;
    line-height: 24px;
}


.about-link  {
    color: #fff;
  text-transform: uppercase;
  font: bold 18px/30px Arial, sans-serif;
background: #fed136;
text-shadow: 0 1px rgba(0,0,0 .3);
}

#item {
  text-align: center;
}

.team-item {
  float: left;
  width: 33.33%;
}

.item-item img {
  margin-bottom: 15px;
  border: 7px solid #fff;
}

.team-info {
  margin-top: 45px;
}


.cat {
  font: 14px/14px Arial, sans-serif;
  color:#777;
}

.social {margin-top: 10px;}

.social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 3px solid #222;
  border-radius: 50%;
  margin-right: 0 3px;
  background: url(css/img/social-sprite.png) no-repeat;
}

.social a.black {background: #222;}

.social a .ic-tw {
background-position:0 0;}
.social a .ic-tw:hover {
border: #00aced;
background-color: #00aced;
background-position:0 -40px;
}
.social a..ic-tw .black {
    background-position:0 -40px;
}
.social a .ic-fb {background-position:-40px 0;}
.social a .ic-fb:hover {
border: #3b5998;
background-color: #3b5998;
background-position:-40px -40px;
}
.social a..ic-fb .black {
    background-position:-40px -40px;
}
.social a .ic-pn {background-position:-80px 0;}
.social a .ic-pn:hover {
border: #cb2028;
background-color: #cb2028;
background-position:-80px -40px;
}
.social a..ic-pn .black {
    background-position:-80px -40px;
}
.social a .ic-gl {background-position:-120px 0;}
.social a .ic-gl:hover {
border: #d95232;
background-color: #d95232;
background-position:-120px -40px;
}
.social a..ic-gl .black {
    background-position:-120px -40px;
}

#brand {
  padding:  60px 0;
  text-align: center;
}

#brand a {
  display: inline-block;
  margin-right:  40px;
}

#brand a:last-child {margin-right: 0;}

#brand img {vertical-align: middle;}

#contact {
  text-align: center;
  background: #222 url (css/img/maps-bg/png) no-repeat right bottom;

}



#contact h2.title {color:white;}




#message .left,
#message .right {width: 48%;}


#message input [type="text"],
#message textarea {
background: #fff;
border-radius: 4px;
width: 100%;
box-shadow: none;
margin-bottom: 30px;
padding: 15px 20px;
color: #222;
font: 14px/14px Arial, sans-serif;
}


#message input [type="text"] {
  height: 50px;
  border: 1px solid #ccc;
}


#message textarea {
  border: none;
  resize: none;
  height: 210px;
}

#copyright {
  padding: 25px 0;
}

#copyright p {
  margin-top: 13px;
  font: 14px Arial, sans-serif;
  color: #555;
}

#copyright .social {
  margin-top: 0;
  margin-left: 365px;
}
